:root {
    font-family:Arial, Helvetica, sans-serif;
}
 
.titre {

    color :black;
    font-weight:bolder;
    font-size: 2rem;
    margin: 0.3rem;
}

.colorblue {
    color: rgb(0, 110, 255);
}

.colorgrey {

    color: rgb(48, 46, 46);
    margin-right: 43rem;
}

#button {

    background-color: cadetblue;
    color: cornsilk;
    border-radius: 1rem;
    display: inline-block;
    padding: 1rem;
    }
#button:hover {
    cursor: pointer;
    text-decoration: black;
     }

.image {
   
    border-radius: 1rem;
}